In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('data/data.csv')
df.head()

,distance,cab_type,destination,source,price,surge_multiplier,name,date,time,weekday,...,source_pressure,source_rain,source_humidity,source_wind,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind
0,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,04:30:07,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
1,0.53,Lyft,North Station,Haymarket Square,27.5,1.0,Lux Black XL,2018-12-16,04:05:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
2,0.49,Uber,North Station,Haymarket Square,16.0,1.0,Black,2018-12-16,23:15:05,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
3,0.49,Uber,North Station,Haymarket Square,7.0,1.0,UberX,2018-12-16,23:15:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
4,0.49,Uber,North Station,Haymarket Square,8.0,1.0,WAV,2018-12-16,08:40:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333

In [3]:
df.drop_duplicates(inplace=True)

In [4]:
df['cab_type'] = df['cab_type'].replace({'Lyft': 0, 'Uber': 1})
df.head()

,distance,cab_type,destination,source,price,surge_multiplier,name,date,time,weekday,...,source_pressure,source_rain,source_humidity,source_wind,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind
0,0.44,0,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,04:30:07,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
1,0.53,0,North Station,Haymarket Square,27.5,1.0,Lux Black XL,2018-12-16,04:05:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
2,0.49,1,North Station,Haymarket Square,16.0,1.0,Black,2018-12-16,23:15:05,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
3,0.49,1,North Station,Haymarket Square,7.0,1.0,UberX,2018-12-16,23:15:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333
4,0.49,1,North Station,Haymarket Square,8.0,1.0,WAV,2018-12-16,08:40:09,Sunday,...,1017.206667,0.014621,0.775,9.199167,40.705,0.81625,1017.227917,0.014917,0.776667,9.158333

In [5]:
df = pd.get_dummies(df, columns=['name'])
df.head()

,distance,cab_type,destination,source,price,surge_multiplier,date,time,weekday,hour,...,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_UberPool,name_UberX,name_UberXL,name_WAV
0,0.44,0,North Station,Haymarket Square,5.0,1.0,2018-12-16,04:30:07,Sunday,4,...,0,0,0,0,0,1,0,0,0,0
1,0.53,0,North Station,Haymarket Square,27.5,1.0,2018-12-16,04:05:09,Sunday,4,...,0,0,1,0,0,0,0,0,0,0
2,0.49,1,North Station,Haymarket Square,16.0,1.0,2018-12-16,23:15:05,Sunday,23,...,0,0,0,0,0,0,0,0,0,0
3,0.49,1,North Station,Haymarket Square,7.0,1.0,2018-12-16,23:15:09,Sunday,23,...,0,0,0,0,0,0,0,1,0,0
4,0.49,1,North Station,Haymarket Square,8.0,1.0,2018-12-16,08:40:09,Sunday,8,...,0,0,0,0,0,0,0,0,0,1

In [7]:
# 'Lyft' = 0, 'Uber' = 1
selected_features = ['cab_type', 'distance', 'surge_multiplier', 'source_temp', 'source_clouds', 
                     'source_pressure', 'source_rain', 'source_humidity', 'source_wind', 'name_Black', 
                    'name_Black SUV', 'name_Lux', 'name_Lux Black', 'name_Lux Black XL', 'name_Lyft',
                    'name_Lyft XL', 'name_Shared', 'name_UberPool', 'name_UberX', 'name_UberXL', 'name_WAV']
X = df[selected_features].values
y = df['price'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.9264566607746552